.home {
	min-height: 100%;
	width: 100%;
}

.projectItem {
	font-size: 1.2rem;
	margin-bottom: 10px;
	color: #FAFAFA !important;
	text-decoration: underline;
	padding-bottom: .4rem;
}

.projectItem:hover {
	color: #CCCCCC !important;
	text-decoration: underline;
}
