html, body {
	height: 100%;
	width: 100%;
	padding: 20px 0 0 0;
	margin: 0;
	background: #353333;
	font-family: 'Fira Code', arial, sans-serif !important;
	color: #FAFAFA !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4,  h5, p, .header {
	font-family: 'Fira Code', arial, sans-serif !important;
	color: #FAFAFA !important;
}

.description {
	font-family: 'Fira Code', arial, sans-serif !important;
	color: #BBB !important;
}

  h1 {
	font-size: 2rem !important;
	color: #f59930 !important;
}

h2 {
	color: #f59930 !important;
	padding-bottom: .5rem;
	border-bottom: 3px dotted #f59930;
}

p {
	font-size: 1.5rem;
}

* {
	box-sizing: border-box;
}

a {
	color: #FAFAFA !important;
	text-decoration: underline;
}

a:hover {
	color: #CCCCCC !important;
	text-decoration: underline;
}


#app {
	height: 100%;
}

.padded {
	padding: 20px !important;
}
